{% extends 'product/base.html' %}
{% load static %}

{% comment %} Page specific stylesheet {% endcomment %}
{% block stylesheet %}
  <link rel="stylesheet" href="{% static 'css/product/create_update/style.css' %}">
{% endblock %}

{% block content %}
  <div class="form">
    <h1>Update Product | {{ product.name }} | FBV</h1>
    <form method="post">
      {% csrf_token %} 
      {{ form.as_p }}
      <p class="buttons">
        <a href="{% url 'ProductApplication:productList-fbv' %}">Cancel</a>
        <button type="submit">Update</button>
      </p>
    </form>
  </div>
{% endblock %}