:root {
  /* Color Rule: 60-30-10 */
  --primary-color: #f6f6e9;
  --secondary-color: #272727;
  --tertiary-color: #7d9b76;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.grid-container {
  height: 100vh;
  display: grid;
  grid-template-rows: 10rem 1fr 5rem;
}

.navbar {
  box-shadow: 0px 2px 30px var(--secondary-color);
  z-index: 2;
}

.navbar nav {
  height: 100%;
  background-color: var(--secondary-color);
  display: grid;
  grid-template-rows: 1fr auto;
  justify-content: center;
}

.navbar .logo {
  /* background-color: #a2ff88; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo img {
  height: 6rem;
  width: 6rem;
}

.navbar .nav-items {
  width: 800px;
  /* background-color: #889cff; */
}

.nav-items ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  padding: 0.5rem 0;
}

.nav-items ul a {
  text-decoration: none;
  padding: 0 50px;
  text-transform: uppercase;
  letter-spacing: 2;
  color: var(--primary-color);
  transition: color 0.2s;
}

.nav-items ul a:hover {
  color: var(--tertiary-color);
}

.nav-items ul span {
  font-weight: 700;
  margin-bottom: 0.2rem;
  color: var(--primary-color);
}

.main-content {
  background-color: #fffcbc;
}

.footer {
  background-color: #bcffd1;
}
