<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Delete Product | FBV</title>
  </head>
  <body>
    <h1>Delete Product | {{ product.name }} | FBV</h1>

    <p><a href="{% url 'ProductApplication:productList-fbv' %}">Product List</a></p>

    <div class="form">
      <p>Product Name: {{ product.name }}</p>
      <p>Quantity: {{ product.quantity }}</p>
      <p>Price: {{ product.price }}</p>
      <form method="post">
        {% csrf_token %} 
        <button type="submit">Delete</button>
      </form>
    </div>
  </body>
</html>
