<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Create Product | FBV</title>
  </head>
  <body>
    <h1>Create Product | FBV</h1>

    <p><a href="{% url 'ProductApplication:productList-fbv' %}">Product List</a></p>

    <div class="form">
      <form method="post">
        {% csrf_token %} 
        {{ form.as_p }}
        <button type="submit">Create</button>
      </form>
    </div>
  </body>
</html>
