<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Delete Product</title>
  </head>
  <body>
    <h1>Delete Product</h1>

    <p>
      <a href="{% url 'FBV_PRODUCT:product-list-FBV' %}">Product List</a>
    </p>

    <div class="product">
      <h2>Product Information</h2>
      <p>Product name: {{ product.name }}</p>
      <p>Quantity: {{ product.quantity }}</p>
      <p>Price: {{ product.price }}</p>
      <p>
        <img
          src="{{ product.image.url }}"
          alt="{{ product.name }}"
          height="200"
          width="200"
        />
      </p>
      <form method="post">
        {% csrf_token %}
        <button type="submit">Submit</button>
      </form>
    </div>
  </body>
</html>
