<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Products</title>
  </head>
  <body>
    <h1>Product List | Home</h1>
    <p>
      <a href="{%url 'product-create-FBV' %}">Create a new product</a>
    </p>
    <h3>Total Products: {{ products | length }}</h3>
    <!-- Product Table -->
    <table>
      <thead>
        <tr>
          <th>#</th>
          <th>Product ID</th>
          <th>Name</th>
          <th>Quantity</th>
          <th>Price</th>
          <th>Update/Delete</th>
        </tr>
      </thead>
      <tbody>
        <!-- Show "No Product Found" if product table is empty -->
        {% if products|length > 0 %}
        <!-- Iterate over the products -->
        {% for product in products %}
        <tr>
          <td>{{ forloop.counter }}</td>
          <td>{{ product.id }}</td>
          <td>{{ product.name }}</td>
          <td>{{ product.quantity }}</td>
          <td>{{ product.price }}</td>
          <td>
            <a href="">Edit</a> |
            <a href="">Delete</a>
          </td>
        </tr>
        {% endfor %} {% else %}
        <tr>
          <td colspan="6" style="text-align: center">
            <b>No Product Found</b>
          </td>
        </tr>
        {% endif %}
      </tbody>
    </table>
  </body>
</html>
