<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      Integrate TailwindCSS, Pagination, Django Debug Toolbar, Django Logging
    </title>
  </head>
  <body>
    <h1>
      Integrate TailwindCSS, Pagination, Django Debug Toolbar, Django Logging
    </h1>

    <p>
      <a href="{% url 'ProductApplication:productList-fbv' %}"
        >Funtion Based View</a
      >
    </p>
    <p>
      <a href="{% url 'ProductApplication:productList-cbv' %}"
        >Class Based View</a
      >
    </p>
  </body>
</html>
