<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Products</title>
  </head>
  <body>
    <h1>Product List | Home</h1>
    <p>
      <a href="{% url 'create-new-product-dj-form' %}">Create a new product</a>
    </p>
    <!-- Product Table -->
    <table>
      <thead>
        <tr>
          <th>#</th>
          <th>Product ID</th>
          <th>Name</th>
          <th>Quantity</th>
          <th>Price</th>
          <th>Update/Delete</th>
        </tr>
      </thead>
      <tbody>
        <!-- Iterate over the products -->
        {% for product in products %}
        <tr>
          <td>{{ forloop.counter }}</td>
          <td>{{ product.id }}</td>
          <td>{{ product.name }}</td>
          <td>{{ product.quantity }}</td>
          <td>{{ product.price }}</td>
          <td>
            <a href="{% url 'update-product-dj-form' product.id %}">Edit</a> |
            <a href="{% url 'delete-product-dj-form' product.id %}">Delete</a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </body>
</html>
